
<div *ngIf="getMult(); then multiply else nomultiply"></div>
<ng-template #multiply>
  <app-tableMultiplication  (laMult)="onMultAdded($event)" [multNum]="multNum"></app-tableMultiplication>
  <app-tablesMultiplication></app-tablesMultiplication>
</ng-template>
<ng-template #nomultiply>
  <app-tableMultiplication  (laMult)="onMultAdded($event)"></app-tableMultiplication>
</ng-template>
<app-footer></app-footer>
