<style>
    .has-error input[type="text"],
    .has-error input[type="password"] {
        border-color: rgb(216, 12, 12);
        background-color: lavenderblush;
        color: rgb(230, 14, 14);
    }
</style>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <form [formGroup]="tableMultForm" (ngSubmit)="submit2()">
                    <div class="field">
                        <label class="label">Choisir un chiffre</label>
                        <div class="control">
                            <p [ngClass]="{ 'has-error': isSubmitted && badTableMultNum }">
                                <select formControlName="tableMultNum">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </p>
                            <div *ngIf="isSubmitted && badTableMultNum" class="help-block">
                                <div *ngIf="badTableMultNum">Un chiffre est demandé !</div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Soumettre</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <ul *ngFor="let i of tabchiffre">
                <li>Voici la table de {{ i }}</li>
                <li>---------------</li>
                <li *ngFor="let numbers of tab">| {{ numbers }} X {{ tabchiffre[i-1] }} =
                    {{ numbers * tabchiffre[i-1] }} |
                </li>
                <li>---------------</li>
            </ul>
        </div>
    </div>
</div>
