<style>
    .has-error input[type="text"],
    .has-error input[type="password"] {
        border-color: rgb(216, 12, 12);
        background-color: lavenderblush;
        color: rgb(230, 14, 14);
    }
</style>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h3 class="title is-3">multiplication</h3>
                <form [formGroup]="multForm" (ngSubmit)="submit()">
                    <div class="field">
                        <label class="label">Number to show the multiplication table</label>
                        <div class="control">
                            <p [ngClass]="{ 'has-error': isSubmitted && badMultNum }">
                                <input class="input is-success" formControlName="multNum" type="number"
                                    placeholder="multNum" value="">
                            </p>
                            <div *ngIf="isSubmitted && badMultNum" class="help-block">
                                <div *ngIf="badMultNum">Un chiffre est demandé !</div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Soumettre</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <div *ngIf="multNum">
                <h1>Table de {{multNum}}</h1>
                <ul *ngFor="let i of multTab">
                    <li>{{ multNum }}x{{ i }} = {{ multNum * i }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>